html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #F4E5D8;
}

@font-face {
  font-family: "Insanibu";
  src: url("../fonts/Insanibu.woff") format("woff");
  font-style: normal;
  letter-spacing: 2rem;
  font-display: swap;
}
